* {
    box-sizing: border-box;
}
body {
    background-color: #fcfcfc;
    margin: 0px;
    font-family: Helvetica;
    font-size: 16px;
}
input {
    width: 100%;
}
input[type="checkbox"] {
    width: auto;
}

.border {
    border: 2px solid #000;
}

.top-row {
    display: flex;
}
.container {
    max-width: 1276px;
    background-color: #ccc;
    margin: auto;
    padding: 24px;
}
.player-name {
    flex: 1 0 50%;
    border-right: none;
}
.character-name {
    flex: 1 0 50%;
}
.name-container {
    display: flex;
    margin: 24px 8px;
}
.name-label {
    flex-grow: 0;
    transform: rotate(-90deg);
}
.name-input {
    flex-grow: 1;
}
.container-container {
    display: flex;
}
.character-row {
    display: flex;
}
.box-rounded {
    border: 2px solid #000; 
    border-radius: 5px;
    margin: 8px;
    font-size: 12px;
}
.ac-shield {
    position: relative;
    background-image: url("https://raw.githubusercontent.com/TomWaterson/roll20darkmatter/develop/images/ac_shield.png");
    width: 167px;
    height: 182px;
}
.ac-shield .ac {
    position: absolute;
    top: 50px;
    left: 15px;
    width: 135px;
}
.ac-shield .alt {
    position: absolute;
    top: 125px;
    left: 53px;
    width: 60px;
}
.ac-shield input {
    text-align: center;
}
.hit-points {
    position: relative;
    background-image: url("https://raw.githubusercontent.com/TomWaterson/roll20darkmatter/develop/images/hit_points.png");
    width: 238px;
    height: 210px;
}
.hit-points .hp {
    position: absolute;
    top: 75px;
    left: 45px;
    width: 150px;
}
.hit-points .max-hp {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 100px;
}
.hit-points .hit-dice {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 100px;
}

.middle-row {
    display: flex;
}

.trait-block {
    border: 2px solid #000;
    position: relative;
}

.left.trait-block::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}

.right.trait-block::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-top: 15px solid #fff;
}

.trait-block-corner-left {
    position: absolute;
    top: -2px;
    left: -2px;
}

.trait-block-corner-right {
    position: absolute;
    top: -2px;
    right: -2px;
}

.trait-block-label {
    background-color: #000;
    color: #fff;
    padding: 16px 16px 16px 40px;
}

.trait-block-textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: -5px;
}

.stats-main {
    margin: 0 auto 32px auto;
    position: relative;
    background-image: url("https://raw.githubusercontent.com/TomWaterson/roll20darkmatter/develop/images/main_stats.png");
    width: 348px;
    height: 400px;
}

.stats-main input {
    text-align: center;
}

.stats-main .strength {
    position: absolute;
    width: 35px;
    left: 155px;
    top: 20px;
}

.stats-main .charisma {
    position: absolute;
    width: 35px;
    left: 295px;
    top: 100px;
    transform: rotate(60deg);
}

.stats-main .wisdom {
    position: absolute;
    width: 35px;
    left: 294px;
    top: 258px;
    transform: rotate(-60deg);
}

.stats-main .intelligence {
    position: absolute;
    width: 35px;
    left: 155px;
    top: 338px;
}

.stats-main .constitution {
    position: absolute;
    width: 35px;
    left: 18px;
    top: 258px;
    transform: rotate(60deg);
}

.stats-main .dexterity {
    position: absolute;
    width: 35px;
    left: 18px;
    top: 100px;
    transform: rotate(-60deg);
}

.attribute-group {
    display: flex;
}

.attribute-group-item {
    flex-grow: 1;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}

.attribute-group-item span {
    margin-right: auto;
}

.hexagon {
    position: relative;
    width: 30px;
    height: 17.32px;
    margin: 8.66px 0;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
}
.hexagon--background {
    background-image: url(http://csshexagon.com/img/meow.jpg);
    background-size: auto 30.0222px;
    background-position: center;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 21.21px;
    height: 21.21px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 2.39px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 26.0000px;
    height: 15.011106998930272px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-7.5056px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-7.5056px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-7.5056px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -10.6066px;
    border-top: solid 2.8284px #ffffff;
    border-right: solid 2.8284px #ffffff;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -10.6066px;
    border-bottom: solid 2.8284px #ffffff;
    border-left: solid 2.8284px #ffffff;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 1.1547px;
    left: 0;
    width: 26.0000px;
    height: 15.0111px;
    z-index: 2;
    background: inherit;
}
